<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>添加成功</title>
</head>
<style>
    .success{
        border: 1px solid rgba(0, 128, 0, 0.822);
        border-radius: 10px;
        margin: 50px;
        height: 100px;
        color: rgb(5, 49, 5);
        background-color: rgba(66, 196, 66, 0.849);
        font-size: 20px;
        text-align: center;
        line-height: 100px;
    }

</style>
<body>
    <div class="success">
        o(*￣▽￣*)o<%= msg%>
        <p><a href="<%= url%>" style="text-decoration: none; color: green;">点击跳转</a></p>
    </div>
</body>
</html>